<div class="card">
  <img *ngIf="recipe != null" [src]="recipe.imageURL" class="card-img-top recipe-image" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-success" [routerLink]="['/Recipes', recipe.recipeID]">Recipe Details</button>
      <button type="button" class="btn btn-outline-danger" (click)="removeRecipe(recipe.recipeID)">Delete Recipe</button>
    </div>
  </div>
</div>

