@let recipe = recipe$ | async;
<div class="container">
    <h1>{{recipe?.name}}</h1>
    
  <div class="">
    <a [routerLink]="['/Recipes', recipe?.recipeID, 'edit']" class="btn btn-secondary btn-sm">Edit Recipe</a>
  </div>
  <div class="tags" *ngIf="recipe?.recipeTag">
    Tags:
    <span>{{recipe?.recipeTag}}</span>
  </div>
  <div class="row">
    <div class="col">
      <img class="w-25 float-md-end ms-4 mb-4" [src]="recipe?.imageURL" />
      {{recipe?.description}}
    </div>
  </div>
  <div class="">
    <ul>
      <li>Prep Time: {{recipe?.prepTime}}</li>
      <li>Cook Time: {{recipe?.cookTime}}</li>
      <li>Yields: {{recipe?.yield}} {{recipe?.name}}</li>
    </ul>
  </div>
  <div>
    <h2> Ingredients: </h2>
    <ul>
      <li *ngFor="let mingred of recipe?.measurementIngredients">
        {{mingred.quantity}} {{mingred.measurementName}} {{mingred.ingredientName}}
      </li>
    </ul>
  </div>
  <div>
    <h2> Instructions: </h2>
    <p>{{recipe?.instructions}}</p>
  </div>
  <div>
    <button type="button" class="btn btn-success"  (click)="onPrint()">Print Recipe</button>
  </div>
</div>

