<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <h1 class="mb-4">Measurement Form</h1>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary" [routerLink]="['/Measurement']">Back</button>
      </div>
    </div>
  </div>

  <form class="form" [formGroup]="measurementForm">
    <div class="row">
      <div class="col">
        <div class="form-floating mb-6">
          <input type="text" class="form-control" formControlName="measurementName" />
          <label class="label">Measurement Name</label>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col d-flex justify-content-end">
          <button type="button" style="margin-right: 12px;" class="btn btn-outline-danger" (click)="onClear()">Clear Measurement</button>
          <button type="button" style="" class="btn btn-outline-success" (click)="onSubmit()">Save Measurement</button>
      </div>
    </div>
  </form>
</div>
