<div class="container-fluid">
  <h1>About Me!</h1>
  <div class="row">
    <div class="col-7">
      <p>Hi! I'm a proud graduate of Centralia College, where I recently earned my Bachelor's degree in Software Engineering.
      My journey in tech began at South Puget Sound Community College, where I completed my Associate's degree in Information Technology.
      With a strong foundation in software development and a passion for practical, user-focused design,
      I created Recipe to bring together my love for technology and cooking! I'm confident working with a variety of languages including:</p>
        <ul>
          <li>MS SQL</li>
          <li>ADO.Net</li>
          <li>Entity Framework</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Angular</li>
          <li>and C#</li>
        </ul>

      <p>Whether you're here to explore, learn, or just get inspired, I’m glad you stopped by!</p>
    </div>
    <div class="col-4">
      <img class="" src="images/selfie.png" />
    </div>
  </div>
</div>



