<!--<div class="container">-->
  <!--<div class="row">
    <div class="col d-flex justify-content-start">
      <div class="btn-group">
        <button class="btn btn-outline-success" style="margin-bottom: 16px; margin-top: 16px; margin-right: 16px;" routerLink="/Ingredient/edit">Create New Ingredient</button>
        <button class="btn btn-outline-dark" style="margin-bottom: 16px; margin-top: 16px;" routerLink="/Ingredient/edit">Edit Ingredient</button>
      </div>
    </div>
  </div>
</div>-->
  <div class="row">
    <div class="col">
      <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
        <tbody>
          <tr *ngFor="let item of ingredients$ | async">
            <td>{{ item.ingredientID }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <button class="btn btn-outline-success" [routerLink]="['/Ingredient', item.ingredientID, 'edit']">Edit Ingredient</button>
            <button class="btn btn-outline-danger" (click)="removeIngredient(item.ingredientID)">Remove Ingredient</button>
          </tr>
        </tbody>
       </table>
    </div>
  </div>

