<div class="container">
  <div class="row">
    <div class="col">
      <table class="table" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ingredients$ | async">
            <td>{{ item.ingredientID }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td><button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['/Ingredient', item.ingredientID, 'edit']">Edit</button></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="removeIngredient(item.ingredientID)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
