<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of measurements$ | async">
            <td>{{ item.measurementID }}</td>
            <td>{{ item.measurementName }}</td>
            <td><button type="button" class="btn btn-outline-success btn-sm" [routerLink]="['/Measurement', item.measurementID, 'edit']">Edit</button></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="removeMeasurement(item.measurementID)">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
