<div class="container">
  <h1>List of Measurements</h1>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of measurements$ | async">
            <td>{{ item.measurementName }}</td>
            <td class="d-flex justify-content-end">
              <button type="button" class="btn btn-outline-success btn-sm me-2" [routerLink]="['/Measurement', item.measurementID, 'edit']">Edit</button>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeMeasurement(item.measurementID)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
